.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-top: -5px;
}

.icon {
	display: inline-block;
	width: 50px;
}

.logo .logo_image,
.icon .icon_image {
	width: 100%;
	object-fit: contain;
	object-position: center;
}
