@import "../../../Styles//StyleSheets/breakpoints.less";

.order-filter {
	.ant-select {
		.ant-select-selection-search {
			left: 27px;
			right: auto;
		}

		.ant-select-selection-item {
			padding-left: 20px;
			padding-right: 0px;
			font-weight: bold;
		}

		.ant-select-arrow {
			top: 48%;
			left: 9px;
			right: auto;
		}

		@media @screen-lg {
			width: 40px;
		}
	}
}
