.modal-popup {
	padding-bottom: 0;

	.ant-modal-content {
		.ant-modal-close {
			top: -24px;
			right: -24px;
			cursor: auto;

			svg {
				width: 24px;
				height: 24px;

				&:hover {
					cursor: pointer;
				}
			}
		}
	}

	.ant-modal-body {
		padding: 0;
	}

	.content {
		.link {
			width: 100%;
			height: 100%;
		}

		video,
		img {
			display: block;
			position: relative;
			width: 100%;
		}
	}
}
