@mapfreColor: #b82400;
@mapfreHover: #8c1b00;

.property-financing-mapfre {
	position: relative;
	.property-financing-box {
		padding-top: 80px;
	}

	.ant-typography {
		margin-bottom: 5px;
	}

	.mapfre-title {
		height: 50px;
	}

	.mapfre-logo {
		width: 100%;
		height: 56px;
		background-color: @mapfreColor;
		box-sizing: border-box;
		padding: 8px 16px;
		border-radius: 8px 8px 0 0;
		position: absolute;
		top: 6px;
		left: 0px;
		z-index: 2;
		box-sizing: border-box;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			object-position: left;
		}
	}

	.property-financing-results {
		text-align: center;

		.financing-price {
			color: @mapfreColor;
			font-size: 1.5em;
			font-weight: bold;
			margin-bottom: 0;
		}

		.financing-subprice {
			font-weight: bold;
			margin-top: 10px;
			margin-bottom: 0;

			&.bottom {
				max-width: 300px;
				margin: 12px auto;
			}
		}
	}

	.mapfre-financing-button {
		background-color: @mapfreColor;
		color: #fff;
		margin-top: 5;
		border: none;
		&:hover {
			background-color: @mapfreHover;
		}
	}
}
