.search-big-data {
	.ant-collapse-item {
		.ant-collapse-header {
			padding: 16px 0 !important;
		}

		.ant-collapse-content {
			.ant-collapse-content-box {
				padding: 0 !important;

				.chart-container {
					background-color: rgb(255, 255, 255);
					border: 1px solid rgb(232, 233, 234);
					border-radius: 8px;
					overflow: visible;
					padding: 0 8px;
				}
			}
		}
	}
}
