.notification {
	.ant-row {
		justify-content: space-between;
		align-items: center;
		flex-wrap: nowrap;

		.ant-avatar {
			height: 66px;
			width: 66px;
		}

		.badge-seen {
			height: 60px;
			padding: 0px 4px;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			.ant-badge-status-text {
				display: none;
			}
		}
	}
}
