.project-info.ant-list-bordered.ant-list-sm .ant-list-item {
	padding: 0;
}
.project-info .ant-list-item .ant-col:first-child {
	text-align: left;
	background-color: rgb(245, 246, 247);
	// padding: 8px 16px;
	padding: 8px 16px !important;
	width: 45%;
	font-size: 16px;
	line-height: 1.5;
	font-weight: bold;
	display: flex;
	align-items: center;
}

.project-info .ant-list-item .ant-col:nth-child(2) {
	padding: 8px 16px !important;
}

.project-info {
	border: 1px solid rgb(232, 233, 234);
	border-radius: 8px;
	.ant-list-item {
		align-items: stretch !important;
	}
}
