@import "../../../Styles/StyleSheets/breakpoints.less";

// .project-units-filters
.project-units-list.ant-list-bordered.ant-list-sm .ant-list-item {
	padding: 0;
}

.project-units-list li>div.ant-col {
	padding: 10px !important;

	.ant-typography {
		font-weight: 600;

		@media (max-width: 480px) {
			font-size: 12px;
		}
	}
}

.project-units-list,
.project-units-filters label {
	font-size: 14px;
	// line-height: 1.43;
}



@media @screen-md {
	.project-units-items .ant-col {
		margin-bottom: 14px;
	}
}
