@import "../../../../Styles/StyleSheets/breakpoints.less";

.ant-menu-submenu-placement-rightTop {
	display: none;
}

.menu-dropdown-popup {
	width: 54%;
	background: transparent;
	position: fixed;
	z-index: 1000;

	@media @screen-xl {
		min-width: 830px;
		left: 50% !important;
		transform: translateX(-50%);
	}

	&>.ant-menu {
		background: transparent !important;
	}

	.menu-dropdown {
		min-height: 440px;

		.sub-menu-dropdown-right {
			flex: 0 0 200px;
			display: flex;

			.menu {
				display: flex;
				height: 100%;
				width: 100%;
				flex-direction: column;
				font-weight: bold;
			}
		}

		.sub-menu-dropdown-left {
			flex: 1 1 0;
			display: flex;

			.ant-card {
				flex: 1 1 0;
				display: flex;
				flex-direction: column;
				border-radius: 0px;

				.ant-card-head {
					font-weight: bold;
				}

				.ant-card-body {
					.ant-card-grid {
						border: none;
						box-shadow: none;
						width: 50%;
						overflow: hidden;
						position: relative;
						text-overflow: ellipsis;
						white-space: nowrap;

						span {
							font-weight: bold;
						}
					}
				}
			}
		}
	}
}
