@photos-footer-height: 64px;

.property-modal-workprogress {
	height: 100%;

	.ant-carousel {
		height: calc(100% - @photos-footer-height);
		.slick-slider,
		.slick-list,
		.slick-track,
		.slick-slide > div,
		.gallery-image {
			height: 100%;
		}

		.gallery-image {
			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
	}

	.photos-footer {
		height: @photos-footer-height;
		border-top: 1px solid #ededed;
		display: flex;
		align-items: center;
	}
}
