.map-container {
	height: 100%;
	width: 100%;
	position: relative;
	z-index: 5;
	.map-search-result {
		z-index: 4;
		width: 90%;
		max-width: 320px;
		min-height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		text-align: center;
	}
	.map-search-buttons {
		position: absolute;
		z-index: 4;
		bottom: 0;
		.ant-btn {
			height: 52px;
			width: 52px;
			box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
			border: 1px solid rgba(0, 0, 0, 0.1);
			.ant-space-item {
				height: 18px;
			}
		}
	}
}
