.property-detail {
    .similars-chart {
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(232, 233, 234);
        border-radius: 8px;
        overflow: visible;
        padding: 15px 5px;
        position: relative;
    }

    .react_frappe_chart_custom_graphicavgpricem2,
    .react_frappe_chart_custom_graphicavgprice {
        .chart-container {
            background-color: rgb(255, 255, 255);
            border: 1px solid rgb(232, 233, 234);
            border-radius: 8px;
            overflow: visible;
            padding: 0 8px;
        }
    }
}
