@import "../../Styles/StyleSheets/breakpoints.less";

.home-container {
	@media @screen-lg {
		margin-bottom: 0 !important;
	}
}

.home-top-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	align-items: center;
	position: relative;
	box-sizing: border-box;
	overflow: hidden;

	.banner-home-container {
		width: 100%;
		height: 100%;
		position: relative;
		min-height: 500px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
		overflow: hidden;

		@media screen and (max-height: 680px) and (min-width: @breakpoint-lg) {
			height: 480px;
			min-height: calc(100vh - 80px);
		}

		@media screen and (max-height: 690px) and (max-width: @breakpoint-lg) {
			height: 500px;
			min-height: calc(100vh - 80px);
		}

		@media @screen-lg {
			align-items: flex-start;
		}

		.home-search-box-container {
			width: 90%;
			max-width: 575px;
			margin: 0 auto;
			background: transparent;
			position: relative;
			z-index: 5;
			padding-bottom: 40px;

			@media @screen-lg {
				padding-top: 40px;
				padding-bottom: 60px;
			}
		}
	}

	.home-featured-agents {
		width: 100%;
	}
}

.home-section-container {
	.home-section-title {
		font-weight: bold;
		text-align: center;
	}
}
