@import "../../Styles/StyleSheets/breakpoints.less";

.header_container {
	overflow: hidden;
	z-index: 50;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;

	.header {
		.ant-menu {
			.ant-menu-submenu {
				transition: background 0.15s ease-in-out 0s;
				position: relative;
				border: none;
				top: 0;
				margin: 0;
			}
		}

		@media @screen-xs {
			.header-search-100 {

				&:hover,
				&:active {
					position: absolute;
					width: 100%;
					max-width: 100%;
					left: 0;
					z-index: 1;
				}
			}
		}

		.header_desktop_menu_rigth {
			flex: 1 1 auto;
			display: flex;
			flex-direction: row-reverse;
		}

		.btn-menu-mobile {
			width: auto;
			background: transparent;
			border-color: transparent;
		}
	}
}

.search-results-keyword-location {
	width: 100%;
}

.header-menu-mobile {
	font-weight: bold;

	.ant-drawer-content {
		background: transparent;

		.ant-drawer-wrapper-body {
			.ant-drawer-body {
				padding: 54px 16px;
			}

			.ant-drawer-header-no-title {
				.ant-drawer-close {
					width: 100%;
					margin: 0;

					.anticon-close-circle {
						float: right;
					}
				}
			}
		}
	}
}
