.header_desktop_menu {
	background: transparent;
	border-bottom: none;

	.ant-menu-submenu,
	.header_desktop_menu_li {
		transition: background 0.15s ease-in-out 0s;
		position: relative;
		border: none !important;
		margin: 0 !important;
		top: 0;

		.ant-menu-submenu-title {
			padding: 0;
		}

		.header_desktop_menu_a {
			margin: 0px;
			display: inline-block;
			font-weight: bold;
			transition: top 0.1s ease 0s, box-shadow 0.1s ease 0s, border-color 0.1s ease 0s,
				background-color 0.1s ease 0s, color 0.1s ease 0s;
			line-height: 1.5;
			border-color: transparent;
		}
	}
}

.header-mobile-menu {
	background: transparent;

	border: none;

	.ant-menu-submenu {
		.ant-menu-submenu-title {
			width: 100%;
			border: none;
			height: 100%;
		}

		.ant-menu {
			background: transparent;

			&:not(.ant-menu-horizontal) {
				.ant-menu-item-selected {
					background: transparent;

					&::after,
					&::after {
						border: none;
					}
				}
			}

			.ant-menu-item {
				width: 100%;
				border: none;
				height: 100%;
			}

			.ant-menu-item-group {
				.ant-menu-item-group-list {
					.ant-menu-item {
						font-weight: 500;
					}
				}
			}
		}
	}

	&.ant-menu {
		.ant-menu-item {
			background: none;
			&::after {
				content: unset;
			}
		}
	}

	.banner_seoheader {
		.row-container {
			padding: 0;
			height: 100%;

			.ant-space {
				.ant-space-item {
					&:last-child {
						margin-bottom: 0 !important;
					}
				}
			}
		}
	}
}
