@breakpoint-xs: ~"576px";
@breakpoint-sm: ~"576px";
@breakpoint-md: ~"768px";
@breakpoint-lg: ~"992px";
@breakpoint-xl: ~"1200px";
@breakpoint-xxl: ~"1600px";
@screen-xs: ~"screen and (max-width: @{breakpoint-xs})";
@screen-sm: ~"screen and (max-width: @{breakpoint-sm})";
@screen-md: ~"screen and (max-width: @{breakpoint-md})";
@screen-lg: ~"screen and (max-width: @{breakpoint-lg})";
@screen-xl: ~"screen and (max-width: @{breakpoint-xl})";
@screen-xxl: ~"screen and (max-width: @{breakpoint-xxl})";
